html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: rgb(128, 128, 128);
}

p {
  margin-top: 0;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
  line-height: 1.1;
}
h1 {
  font-size: 8rem;
}
h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}
p,
li {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  p,
  li {
    font-size: 1.4rem;
  }
}

/* LINKS */

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* //   Images */

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Container */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1024px) {
  .container {
    padding-right: 45px;
    padding-left: 45px;
  }
}

/* padding */
.p-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.flex {
  display: flex;
}

/* card */

.card {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.158);
}

.give-away .card {
  cursor: pointer;
  transition: transform, 0.4s;
  /* max-width: 90%; */
  max-height: 500px;
}
.give-away .card:hover {
  transform: scale(1.02);
}

/* Give away */

.give-away--grid {
  display: grid;
  gap: 40px;
  justify-items: center;
  justify-content: center;
  grid-template: repeat(auto, 1fr) / repeat(1, 1fr);
}

@media screen and (min-width: 768px) {
  .give-away--grid {
    gap: 60px;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .give-away--grid {
    gap: 80px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  }
}

.give-away__list {
  text-align: center;
  padding-bottom: 20px;
}

.give-away__list--name {
  width: 100%;
  font-size: 2rem;
  padding-top: 10px;
  color: #333;
  font-weight: 600;
}

.give-away__btn {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  color: white;
  border: none;
  padding: 5px 10px;
  width: 80%;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: background-color, 0.4s;
}
.give-away__btn:hover {
  background-color: #64a6db;
}

.give-away__img {
  height: 250px;
}
.give-away__desc {
  padding: 0 10px;
  max-height: 75px;
  overflow: scroll;
}

/* NavBar */
.navbar {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}
.navbar__lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 15px 0;
  color: white;
}

.navbar__items {
  font-size: 16px;
}

.navbar a {
  color: white;
}

.navbar .buy {
  color: #ff7f50;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);
}

.navbar__items--brand {
  font-weight: 700;
  font-size: 30px;
}

/* Login */
.log-in,
.register {
  margin: 50px 0;
  text-align: center;
}
.login-in__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  border-radius: 0.5rem;
  border: 1px solid #999;
  display: block;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem;
  width: 90%;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .login-btn,
  input {
    width: 50%;
  }
}

input:focus {
  border: 1px solid #333;
  box-shadow: 0 0 3px rgba(34, 34, 34, 0.404);
}

button {
  border-radius: 10px;
  border: none;
  margin-top: 5px;
  padding: 1rem;
  cursor: pointer;
  font-size: 12px;
}

.login-btn {
  background: rgb(116, 214, 144);
  background: linear-gradient(
    308deg,
    rgba(116, 214, 144, 1) 0%,
    rgba(92, 191, 187, 1) 100%
  );
  color: white;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .login-btn {
    width: 52%;
  }
}
.login__header {
  text-align: center;
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  .login__header {
    font-size: 25px;
  }
}

.google-fb-login {
  text-align: center;
}
.login__or {
  color: black;
  font-size: 20px;
}
.login__text,
.login__or {
  margin: 10px 0;
}

/* ERROR MESSAGE */
.error_message {
  font-size: 15px;
  color: rgba(146, 5, 5, 0.884);
}

.register__btn {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  color: white;
  width: 90%;
  max-width: 700px;
}

/* btn */

.btn-grad {
  background-image: linear-gradient(
    to right,
    #457fca 0%,
    #5691c8 51%,
    #457fca 100%
  );
}
.btn-grad {
  margin: 10px auto;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
